.about {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 90%;
  }
  p {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "robot", sans-serif;
    color: #00274d;
    text-align: justify;
  }
}
.about-img_container {
  @include media-breakpoint-down("md") {
    height: 30vh !important;
  }
  @include media-breakpoint-down("sm") {
    height: 30vh !important;
  }
}
.about-image {
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
  overflow: hidden;
  transition: all 0.7s ease;
}

.type-text {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "robot", sans-serif;
  color: #00274d;
  text-align: justify;
  transition: all 0.1s ease;
}
